@font-face { font-family: Heroes_Legend; src: url('../fonts/Heroes_Legend.ttf'); } 
html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vw;
}
body{ 
  background-image: url('../images/bg1.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #efefef;
  font-family: Heroes_Legend !important;
  color: #fff;
}
*{ box-sizing: border-box; }
*::after,*::before{ box-sizing: border-box; }
h1{ font-size: 2vw; padding-top: 2.3%; padding-bottom: 2.3%;}
h2{ font-size: 1.4vw; }
h3{ font-size: 1.1vw; }
p { font-size: 0.9vw; }

input[type=text] {
  font-family: Heroes_Legend !important;
  width: 100%;
  max-width: 20vw;
  min-height: 3.5vh;
  background-color: #120600;
  color: #fff;
  border: 2px solid #e9e9e9;
  -webkit-box-shadow: 0px 9px 5px -1px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 9px 5px -1px rgba(0,0,0,0.59);
  box-shadow: 0px 9px 5px -1px rgba(0,0,0,0.59);
}
input[type=text]:focus {
  outline: none;
  border: 2px solid #502e98;
}
h1,h2,h3,h4{
  -webkit-text-stroke-color: #502e98;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #91a9cb));
  background-image: -webkit-linear-gradient(#ffffff,#b3adb5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}
h1,h2,h3,h4{
  -webkit-text-stroke-width: .05em;
}
a{
  text-decoration: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid rgba(147, 128, 108, 0.5);
  padding: .5em;
}
@-webkit-keyframes wiggle {
  0% {-webkit-transform:rotate(4deg);}
  50% {-webkit-transform:rotate(-4deg);}
  100% {-webkit-transform:rotate(4deg);}
}
 
/* firefox */
@-moz-keyframes wiggle {
  0% {-moz-transform:rotate(4deg);}
  50% {-moz-transform:rotate(-4deg);}
  100% {-moz-transform:rotate(4deg);}
}
 
/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
  0% {transform:rotate(4deg);}
  50% {transform:rotate(-4deg);}
  100% {transform:rotate(4deg);}
}
.rotate {
/* Safari */
-webkit-transform: rotate(-6deg);
/* Firefox */
-moz-transform: rotate(-6deg);
/* IE */
-ms-transform: rotate(-6deg);
/* Opera */
-o-transform: rotate(-6deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.wiggler:hover {
  -webkit-animation: wiggle 0.5s infinite;
  -moz-animation: wiggle 0.5s infinite;
  animation: wiggle 0.5s infinite;
}
/* PAGE SPECIFIC CSS */
.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.col > div{
  background-color: #ADADAD;
}

.demo {
  width: 100%;
  background: rgba(147, 128, 108, 0.2);
  text-align: center;
}
/* Tooltip */
section:nth-child(n+3) [class*="grid-"],
section:nth-child(n+3) [class*="col-"] {
  position: relative;
  cursor: help;
}
section:nth-child(n+3) [class*="grid-"]:hover:after,
section:nth-child(n+3) [class*="col-"]:hover:after {
  content: attr(class);
  padding: 2px 8px;
  position: absolute;
  left: 0.5rem;
  top: 0;
  white-space: nowrap;
  z-index: 20;
  background-color: #555;
  color: #fff;
  font-size: .8rem;
}

.avatar-select{
  padding-top: 150px;
  background-image: url("../images/character-select/avatar.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.character-select-box{
  height: 60vh;
  min-height: 75vh;
  border : solid 1px rgba(0,0,0,0.0);
  background-image: url("../images/character-select/character-create-box.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 920px 700px;
  min-height: 700px;

}

/*WIDTH*/
@media screen and (max-width: 80em) {
.character-select-box{
  background-size: contain;
}
