extends layout
block content
    div
        form(method = 'post', action = "create")
            label(for = 'game-name') Game Name
            input#game-name(type="text" name="game_name")
            label(for='game-description') Description
            input#game-description(type="text" name ="game_description")
            input(type="submit" value="submit")



