//todo THIS IS IS ONLY FOR TESTING... MOSTLIKELY
   Created by euphoric on 5/2/17.
extends layout
block content
    div
        form(action = "/create")
            input(type="text" name="gameName") Game Name
            input(type="text" name ="gameDescription") Game Description
            input(type="submit" value="submit")



