extends layout
block content
    div
        table
            thead
                tr: th Game
                    th playersCount
            tbody
            each game in games
                tr: th=game.name
                    th=game.playercount + "/5"
    div
        button(type="submit" onclick="location.href='/games'" value='Next') Create a Game