extends layout

block content
    div
        table
            thead
                tr: th Name
                    th= playersCount + '/6'
                each game in games
                    tr: td=game.gameName
                        td=game.playerCount