extends game-layout
block content
    .container
        #players-group
            each player in players
                .box1(id=player.id)
                    img.avatar-on-plate(src=player.imageurl)
                    img.plate(src='/images/in-game-static-images/avatar-plate.png')
                    h3.health-text 99%
                    h3.xp-text 100
        .game-play-area
            | Game-Play-Area
            img#deck(src='/images/PNG-cards-1.3/red_joker.png', width='300', height='300')
            img#card(src=playedCardUrl, width='300', height='300')
            p ---------------------------------------------------------------------------
            p#gameMsg= gameMsg
        #user-interface
            .card-board
                img(src='/images/in-game-static-images/card-board.png')
            .mood-board
                img(src='/images/in-game-static-images/avatar-icon.png')
            .chat
                img#modal-btn(src='/images/in-game-static-images/chat-icon.png')
                // The Modal
                #chat-modal.modal
                    // Modal content
                    .modal-content
                        span.close ×
                        ul#modal-messages(class ="messages")
                        input#modal-input.input-messages(placeholder = ".. Chat ..")
    script(src='/javascripts/in-game-scripts.js')


