doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Party Pirate Pals
        meta(name='description', content='')
        meta(name='author', content='')

        link(rel='icon', type='image/png', href='/images/in-game-static-images/favicon.png')

        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='../stylesheets/normalize.css')
        link(rel='stylesheet', type='text/css', href='../stylesheets/game-room.css')
    body
        block content
block foot
