extends layout
block content
    div(class="container")
        div(class= "game-lobby")
            h1 Game Lobby
            div(class="title-section")
                h2= gameName
                h3= statusMessage
            div(class = "players")
                img(




