form#login(method="post" action="/users/login")
	div
		label(for='username') Username:
		input#username(type='text', placeholder='username', name='username')

	div
		label(for='password') Password:
		input#password(type='password', name='password')
	button(type="submit") login


script(src="https://code.jquery.com/jquery-3.2.1.min.js")
script(src='/socket.io/socket.io.js')
script(src=token_url)