form(method="post" action="/users/login")
	div
		label(for='username') Username:
		input#username(type='text', placeholder='username', name='username')

	div
		label(for='password') Password:
		input#password(type='password', name='password')
	button(type="submit") login