extends layout
block content
    h1= foo

        img(src="/images/603px-Sir_Francis_Drake_by_Jodocus_Hondius.jpg" alt="Image Title")

        div
            button(type="submit" onclick="location.href='/games'" value='Next') Thumb Master
            button(type="submit" onclick="location.href='/games'" value='Next') Question Keeper
            button(type="submit" onclick="location.href='/games'" value='Next') Secret Storer
            button(type="submit" onclick="location.href='/games'" value='Next') Fuck Ya!
        div
            button(type="submit" onclick="location.href='/games'" value='Next') Party Rum!
            button(type="submit" onclick="location.href='/games'" value='Next') Selfish Salve!
            button(type="submit" onclick="location.href='/games'" value='Next') Fire The Cannon!
            button(type="submit" onclick="location.href='/games'" value='Next') God Of The Sea!
        div
            button(type="submit" onclick="location.href='/games'" value='Next') Find A Game