extends register-layout
block content
    .container
        .grid-1
            .col
                .login.spacer
        .grid-6
            .col
                .login
            .col-8
                .login.box
                    form.signup-form(method="post" action="register")
                        h1 SIGN UP
                        .grid-6
                            .col
                                .login
                                    // <p>col</p>
                            .col-8
                                .login
                                    h2 UserName
                                    input#username(type='text', name='username')
                            .col
                                .login
                                    // <p>col</p>
                        .grid-6
                            .col
                                .login
                                    // <p>col</p>
                            .col-8
                                .login
                                    h2 Email
                                    input#email(type='text', name='email')
                            .col
                                .login
                                    // <p>col</p>
                        .grid-6
                            .col
                                .login
                                    // <p>col</p>
                            .col-8
                                .login
                                    h2 Password
                                    input#pw(type='text', name='password')
                            .col
                                .login
                                    // <p>col</p>
                        .grid-6
                            .col
                                .login
                                    // <p>col</p>
                            .col-8
                                .login
                                    h2 Re-Enter Password
                                    input#pw2(type='text', name='confirmPassword')
                            .col
                                .login
                                    // <p>col</p>
                        .grid-1
                            .col
                                .login.rotate.wiggler
                                    button.btn-sign-in(type='submit') Sign Up
                    // NEST END
            .col
                .login
                    // <p>spacer</p>
block foot

