@font-face { font-family: Heroes_Legend; src: url('../fonts/Heroes_Legend.ttf'); } 
html, body{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vw;
}
body{ 
  background-image: url('../images/bg1.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #efefef;
  font-family: Heroes_Legend !important;
  color: #fff;
}
*{ box-sizing: border-box; }
*::after,*::before{ box-sizing: border-box; }
h1{ font-size: 1vw; }
h2{ font-size: .75vw; }
h3{ font-size: .6vw; }
p { font-size: .4vw; }

h1,h2,h3,h4{
  -webkit-text-stroke-color: #502e98;
  -webkit-text-stroke-width: .08em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #91a9cb));
  background-image: -webkit-linear-gradient(#ffffff,#b3adb5);
  -webkit-background-clip: text;
  color: #fff;
}
a{
  text-decoration: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid rgba(147, 128, 108, 0.5);
  padding: .5em;
}
@-webkit-keyframes wiggle {
  0% {-webkit-transform:rotate(4deg);}
  50% {-webkit-transform:rotate(-4deg);}
  100% {-webkit-transform:rotate(4deg);}
}
 
/* firefox */
@-moz-keyframes wiggle {
  0% {-moz-transform:rotate(4deg);}
  50% {-moz-transform:rotate(-4deg);}
  100% {-moz-transform:rotate(4deg);}
}
 
/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
  0% {transform:rotate(4deg);}
  50% {transform:rotate(-4deg);}
  100% {transform:rotate(4deg);}
}
.rotate {
/* Safari */
-webkit-transform: rotate(-6deg);
/* Firefox */
-moz-transform: rotate(-6deg);
/* IE */
-ms-transform: rotate(-6deg);
/* Opera */
-o-transform: rotate(-6deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.wiggler:hover {
  -webkit-animation: wiggle 0.5s infinite;
  -moz-animation: wiggle 0.5s infinite;
  animation: wiggle 0.5s infinite;
}
/* PAGE SPECIFIC CSS */
.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.avatar-select{
  background-image: url("../images/character-select/avatar.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.inner-profile-container{
  min-height: 700px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.outer-profile-container{
  background-image: url("../images/character-select/character-select-box.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-left: -6em;
}
.spacer{
  height: 10vh;
}
.join-game-btn {
  margin-top: 7.8em;
  background: #7252b6;
  background-image: -webkit-linear-gradient(top, #7252b6, #250075);
  background-image: -moz-linear-gradient(top, #7252b6, #250075);
  background-image: -ms-linear-gradient(top, #7252b6, #250075);
  background-image: -o-linear-gradient(top, #7252b6, #250075);
  background-image: linear-gradient(to bottom, #7252b6, #250075);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  padding: 0px 45px 0px 45px;
  border: solid #502e98 3px;
  text-decoration: none;
}

.join-game-btn:hover {
  background: #250075;
  background-image: -webkit-linear-gradient(top, #250075, #250075);
  background-image: -moz-linear-gradient(top, #250075, #250075);
  background-image: -ms-linear-gradient(top, #250075, #250075);
  background-image: -o-linear-gradient(top, #250075, #250075);
  background-image: linear-gradient(to bottom, #250075, #250075);
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(105,51,222,1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(105,51,222,1);
  box-shadow: 0px 0px 30px 0px rgba(105,51,222,1);
}

.abilities p{
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  padding-bottom: 1em;
  color: #000;
  line-height: 1.2vw;
}
.abilities img{
  padding-left: .5em;
  padding-left: .5em;
}
.abilities{
  margin-top: 14em;
}
.avatar{
  margin-top: 6em;
}
.avatar h2{
  padding-bottom: 2em; 
  line-height: 1.55vw;
}


